.dashboard-container {
    padding: 20px;
}
    .dashboard-container .activities-container{

    }
        .dashboard-container .activities-container .activity-container {
            padding: 0;
            margin: 20px;
            margin-bottom: 40px;
            height: 130px;
            background-color: white;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 1px 8px rgba(0,0,0,0.15);
        }
            .dashboard-container .activities-container .activity-container .activity-body {
                height: 90px;
                width: 100%;
                margin: 0;
            }
                .dashboard-container .activities-container .activity-container .activity-body img {
                    margin-top: 20px;
                    margin-left: 10px;
                }
                .dashboard-container .activities-container .activity-container .activity-body span {
                    font-size: 50px;
                    text-align: center;
                }

            .dashboard-container .activities-container .activity-container .activity-bottom {
                border-top: solid 1px lightgray;
                text-align: center;
                width: 100%;
                font-weight: bold;
                color: gray;
                margin: 0;
            }
                .dashboard-container .activities-container .activity-container .activity-bottom span{
                    text-align: left;
                    width: 100%;
                    font-weight: bold;
                    color: gray;
                    margin-top: 8px;
                    margin-left: 10px;
                }

    .dashboard-container .check-container {
       
    }
        .dashboard-container .check-container .table-title {
            position: absolute;
            z-index: -1;
            height: 40px;
            width: 390px;
            line-height: 40px;
            background-color: #1879B9;
            color: white;
            font-weight: bold;
            top: 15px;
            left: 20px;
            padding-left: 10px;
            border-radius: 3px 40px 40px 3px;
            text-transform: uppercase;
        }
        .dashboard-container .check-container .checkin-container {
            padding: 20px;
        }
        .dashboard-container .check-container .checkout-container {
            padding: 20px;
        }