
@{
    ViewData["Title"] = "Dining";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <title>Dining Hotel</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/dinnin.jpg" width="100%">
        </div>
    </div>
    <div class="ser">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-h1 mg-top-50">Essence Restaurant</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="content-service" style="margin-bottom: 0px;">
                        <div class="content text-center">
                            <p>Located on the ground floor of Essence Hanoi Hotel, the Essence Restaurant offers authentic Vietnamese dishes in an elegant, refined setting. Featuring an exotic décor which draws on the aesthetics of both colonial Vietnam and cutting edge contemporary design, Essence Cafe &amp; Restaurant is considered by many as one of the best restaurants in Hanoi.&nbsp;<br>At Essence Restaurant, both residents and non-residents can enjoy a delicious meal with great food and excellent service in a pleasant environment, all at a reasonable price. We currently offer 10% discount for lunch.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slider-service">
                        <div class="col-md-2 align-items-center d-flex" style="z-index: 10;">
                            <div class="text-center bg-light p-4 mb-5 std-post-info">
                                <div class="mb-3">
                                    <h5><strong>OPENING HOUR</strong></h5>
                                    <p>Breakfast – 06:30-10:00<br>Lunch through to dinner from 11.30 to last orders 21:45</p>
                                </div>
                                <hr class="border-dark mx-auto" style="max-width: 11rem;">
                                <p class="mb-2"><i class="icon-phone"></i></p>
                                <p class="mb-4">
                                    <a class="h5 font-weight-bold mb-0" href="tel:+84 123123123">
                                        +84 123456789
                                    </a>
                                </p>
                                <p class="mb-2"><i class="icon-email"></i></p>
                                <p>
                                    <a href="#">
                                        info@Hotel2K_hanoihotel.com
                                    </a>
                                </p>
                                <hr class="border-dark mb-2 mx-auto" style="max-width: 11rem;">
                                <a class="btn-booking text-uppercase btn-hover btn-full-width mt-3 mx-2" target="_blank" data-page="243" href="#">
                                    Book a table
                                </a>
                                <a class="btn-booking text-uppercase btn-hover btn-full-width mt-3 mx-2" href="#" target="_blank">
                                    Menu
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="owl-carousel owl-theme galleryservice owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2910px;">
                                        <div class="owl-item active" style="width: 920px; margin-right: 50px;">
                                            <a href="img/res-gallery-3.jpg" data-fancybox="gallery">
                                                <div>
                                                    <img class="mySlides" src="~/img/res-gallery-3.jpg" width="100%">
                                                    <img class="mySlides" src="~/img/res-gallery-2.jpg" width="100%">
                                                    <img class="mySlides" src="~/img/res-gallery-1.jpg" width="100%">
                                                    <script>
                                                        var myIndex = 0;
                                                        carousel();
                                                        function carousel() {
                                                            var i;
                                                            var x = document.getElementsByClassName("mySlides");
                                                            for (i = 0; i < x.length; i++) {
                                                                x[i].style.display = "none";
                                                            }
                                                            myIndex++;
                                                            if (myIndex > x.length) { myIndex = 1 }
                                                            x[myIndex - 1].style.display = "block";
                                                            setTimeout(carousel, 3000); // Change image every 2 seconds
                                                        }
                                                    </script>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="content-service">
                            <div class="content text-center">
                                <p>The Essence Restaurant was awarded the Certificate of Excellence in 6&nbsp;consecutive years from&nbsp;2013 to&nbsp;2018&nbsp;Winner by <a href="" target="_blank">TripAdvisor</a></p><p>We proudly to be voted 'The 2nd BEST FINE DINING RESTAURANT IN VIETNAM IN 2015' by <a href="http://www.tripadvisor.com/TravelersChoice-Restaurants-cFineDining-g293921#2" target="_blank">TripAdvisor</a></p>
                                <p><a href="#" target="_blank"><img alt="" src="~/img/2013.png" style="height:150px; width:150px"></a><a href="#"><img alt="" src="~/img/2014.png" style="height:150px; width:150px"></a><a href="#" target="_blank"><img alt="" src="~/img/2015.png" style="height:150px; width:150px"></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="wrap-nav-menu">
                            <ul class="nav nav-tabs border-none float-l">
                                <li class="active"><a data-toggle="tab" class="border-none" href="#">BUN CHA</a></li>
                                <li><a class="border-none" data-toggle="tab" href="#">SPRING ROLL (NEM)</a></li>
                            </ul>
                        </div>
                        <div class="mg-bot-50" style="width: 100%; float: left;">
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active box-shadow-basic">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img style="width: 100%" src="~/img/bun-cha.jpg" alt="BUN CHA">
                                        </div>
                                        <div class="col-md-4">
                                            <div style="padding: 5px">
                                                <h3>BUN CHA</h3>
                                                <p>
                                                    Bun cha is a well-known local food in Hanoi. It is made of grilled pork and noodle, often thought to have
                                                    been originated from Hanoi, Vietnam. This dish is served with grilled fatty pork (cha) over a plate of
                                                    white rice noodle (bun) and herbs with a side dish of dipping sauce/broth. Listed in top 7 specialties
                                                    of Hanoi street food, the available density of Bun cha Hanoi is so great that you can easily
                                                    find a Bun cha everywhere but we are proud our Bun Cha served by Essence Restaurant is the best.
                                                </p>
                                                <a class="btn-underline" href="#" target="_blank">Discover more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade box-shadow-basic">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img style="width: 100%" src="~/img/nem.jpg" alt="SPRING ROLL (NEM)">
                                        </div>
                                        <div class="col-md-4">
                                            <h3>SPRING ROLL (NEM)</h3>
                                            <p>
                                                Hanoi spring rolls or simply “nem” are a very popular dish and appear on almost every menu in Hanoi.
                                                Especially the Hanoians are very proud of this tasty dish which can either be eaten as the perfect starter or a side dish
                                            </p>
                                            <a class="btn-underline" href="#" target="_blank">Discover more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mg-l-r-15 mg-bot-50 wrap-owl-basic">
                        <h2 class="title-h2 mg-top-0 mg-bot-50">Dining Destinations</h2>
                        <div class="owl-carousel owl-theme owl-basic owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1165px;">
                                    <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                        <div class="item mg-bot-20 item-owl-basic">
                                            <div class="wrap-special">
                                                <div class="over-hide">
                                                    <div class="images-well zoom">
                                                        <a href="#" target="_blank">
                                                            <img src="~/img/res-1.jpg" alt="AIRA GARDEN RESTAURANT">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-special">
                                                    <h3 class="title-h3"><a href="#" target="_blank">AIRA GARDEN RESTAURANT</a></h3>
                                                    <div class="balance">
                                                        <b>
                                                            Near the beach dining in An Bang, Hoi An
                                                        </b>
                                                        <br>

                                                        Hiding underneath the shade of the cool garden tree, the fine dining Aira Garden Restaurant &amp; Bar is a truly unique location in An Bang Beach, Hoi An where guests can enjoy a gourmet
                                                        lunch or dinner while overlooking the beautiful garden views and listening to the song of the sea.
                                                    </div>
                                                    <div class="div-both">
                                                        <p class=" mg-left-20">
                                                            AIRA GARDEN RESTAURANT
                                                            <br>
                                                            An Bang Beach, Hoi An
                                                        </p>
                                                        <a class="btn-underline mg-left-20" href="#" target="_blank">Discover more</a>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                        <div class="item mg-bot-20 item-owl-basic">
                                            <div class="wrap-special">
                                                <div class="over-hide">
                                                    <div class="images-well zoom">
                                                        <a href="#" target="_blank">
                                                            <img src="~/img/res-2.jpg" alt="GIA NGU RESTAURANT">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-special">
                                                    <h3 class="title-h3"><a href="#" target="_blank">GIA NGU RESTAURANT</a></h3>
                                                    <div class="balance">
                                                        <b>
                                                            Enjoying local foods in the centre of Hanoi Old Quarter
                                                        </b>
                                                        <br>
                                                        Rated on TripAdvisor the most innovative cuisine in town, the stylish Gia Ngu Restaurant offers you with best food presentation, great food quality and excellent service in a cozy and romantic dinning venue in the very heart of the historic Old Quarter of Hanoi city

                                                    </div>
                                                    <div class="div-both">
                                                        <p class=" mg-left-20">
                                                            GIA NGU RESTAURANT
                                                            <br>
                                                            Gia Ngu street, Old quarter, Hanoi
                                                        </p>
                                                        <a class="btn-underline mg-left-20" href="#" target="_blank">Discover more</a>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                        <div class="item mg-bot-20 item-owl-basic">
                                            <div class="wrap-special">
                                                <div class="over-hide">
                                                    <div class="images-well zoom">
                                                        <a href="#" target="_blank">
                                                            <img src="~/img/res-3.jpg" alt="AIRA SAPA RESTAURANT">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-special">
                                                    <h3 class="title-h3"><a href="#" target="_blank">AIRA SAPA RESTAURANT</a></h3>
                                                    <div class="balance">
                                                        <b>
                                                            Dining beside fireplaces in a mountainous restaurant
                                                        </b>
                                                        <br>
                                                        Situated at the ground floor of the Aira Boutique Sapa hotel, with contemporary stylish luxury settings and two wood-burning fireplaces, the top-rated fine dining Aira Sapa Restaurant &amp; Bar is a truly unique location in Sapa where guests can enjoy a gourmet dinner and an exceptional dining experience while overlooking the beautiful views of valley and mountain
                                                    </div>
                                                    <div class="div-both">
                                                        <p class=" mg-left-20">
                                                            AIRA SAPA RESTAURANT
                                                            <br>
                                                            Hoang Lien, Sapa, Vietnam
                                                        </p>
                                                        <a class="btn-underline mg-left-20" href="#" target="_blank">Discover more</a>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .info-special {
            min-height: 455px;
        }
    </style>
</body>
</html>
