
@{
    ViewData["Title"] = "Spa";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <title>Dining Hotel</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/dinnin.jpg" width="100%">
        </div>
    </div>
    <div class="ser">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-h1 mg-top-50">A WORLD WITHIN A WORLD</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="content-service" style="margin-bottom: 0px;">
                        <div class="content text-center">
                            <p>
                                “Essencia Spa seeks to balance both your inner and outer worlds to allow a return to peace and emotional happiness. Ancient healing modalities such as Himalayan Salt Stone Treatment and Ancient Fire Acupunture Therapy are balanced alongside our own signature treatments, as we hold you through an invigorating process of renewal that grounds, purifies and deeply nourishes.<br>
                                <br>
                                Welcome to Essencia Spa! Step into our world of care, where time is left at the door and a new journey begins….”
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slider-service">
                        <div class="col-md-2 align-items-center d-flex" style="z-index: 10;">
                            <div class="text-center bg-light p-4 mb-5 std-post-info" style="margin-top: -10px;">
                                <div class="mb-3">
                                    <h5><strong>OPENING HOUR</strong></h5>
                                    <p>
                                        <b>
                                            Daily from 9AM to 9PM
                                        </b><br> hotel Spa offers a journey of reawakening. Across the globe, we integrate local spa rituals with indigenous ingredients, a profoundly therapeutic touch, and a gentle sense of joy and discovery.
                                    </p>
                                </div>
                                <hr class="border-dark mx-auto" style="max-width: 11rem;">
                                <p class="mb-2"><i class="icon-phone"></i></p>
                                <p class="mb-4">
                                    <a class="h5 font-weight-bold mb-0" href="tel:+84 123123123">
                                        +84 123456789
                                    </a>
                                </p>
                                <p class="mb-2"><i class="icon-email"></i></p>
                                <p>
                                    <a href="#">
                                        info@Hotel2K_hanoihotel.com
                                    </a>
                                </p>
                                <hr class="border-dark mb-2 mx-auto" style="max-width: 11rem;">
                                <a class="btn-booking text-uppercase btn-hover btn-full-width mt-3 mx-2" target="_blank" data-page="243" href="#">
                                    Book Now
                                </a>
                                <a class="btn-booking text-uppercase btn-hover btn-full-width mt-3 mx-2" href="#" target="_blank">
                                    Menu
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="owl-carousel owl-theme galleryservice owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 6790px;">
                                        <div class="owl-item active" style="width: 920px; margin-right: 50px;">
                                            <a href="~/img/spa-gallery-1.jpg" data-fancybox="gallery" data-caption="/files/images/spa/gallery/spa-gallery-1.jpg #1">
                                                <img src="~/img/spa-gallery-1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="width: 100%; float: left">
                        <div class="wrap-nav-menu" style="width: 235px">
                            <ul class="nav nav-tabs border-none float-l">
                                <li class="active"><a data-toggle="tab" class="border-none" href="#">PACKAGE 1</a></li>
                                <li class=""><a data-toggle="tab" class="border-none" href="#">PACKAGE 2</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mg-bot-50" style="width: 100%; float: left;">
                        <div class="tab-content">
                            <div id="tab_6121" class="tab-pane fade in active box-shadow-basic">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img style="width: 100%" src="~/img/spa-package-1.jpg" alt="PACKAGE 1">
                                    </div>
                                    <div class="col-md-4">
                                        <div style="padding: 5px">

                                            <p></p><h3>SPA PACKAGE- $189Nett/2Pax</h3>

                                            <p>
                                                A two-night stay in Deluxe double room at Essence Hanoi hotel &amp; spa<br>
                                                Welcome drinks and welcome fruit<br>
                                                Daily buffet breakfast<br>
                                                2 vouchers for 40-minute massage session at Essencia Spa<br>
                                                20% discount for lunch at Essence Restaurant<br>
                                                One way airport transfer<br>
                                                Contact us
                                            </p>
                                            <p></p>
                                            <a class="btn-underline" href="#" target="_blank">Book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab_6122" class="tab-pane fade in  box-shadow-basic">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img style="width: 100%" src="~/img/spa-package-2.jpg" alt="PACKAGE 2">
                                    </div>
                                    <div class="col-md-4">
                                        <div style="padding: 5px">

                                            <p></p><h3>HONEYMOON/ ANNIVERSARY PACKAGE- $298Nett/2pax</h3>

                                            <p>
                                                A two-night stay in a window Junior Suite double room at Essence Hanoi hotel &amp; spa<br>
                                                A bottle of local wine upon arrival<br>
                                                Welcome drinks &amp; daily complimentary fruit platter<br>
                                                Daily buffet breakfast 2 vouchers for one-hour massage session at Essencia Spa 1 romantic set menu dinner at Essence Restaurant<br>
                                                Complimentary in room mini bar of drinks and snacks (replenished once daily)<br>
                                                One way airport transfer<br>
                                                Contact us<br>
                                                Note: Room and Spa package upgrade to higher category are available on your request.
                                            </p>
                                            <p></p>
                                            <a class="btn-underline" href="#" target="_blank">Book now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-12 mg-l-r-15 mg-bot-50 wrap-owl-basic">
                    <h2 class="title-h2 mg-top-0 mg-bot-50">
                        FEATURED SPA DESTINATIONS
                    </h2>
                    <div class="owl-carousel owl-theme owl-basic-2 owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1165px;">
                                <div class="owl-item active" style="width: 557.5px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#" target="_blank">
                                                        <img src="~/img/spa-2.jpg" alt="Aira Spa Hoi An">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special" style="min-height: 300px">
                                                <h3 class="title-h3"><a href="#" target="_blank">Aira Spa Hoi An</a></h3>
                                                <div class="balance">
                                                    Welcome to Aira Hoi An Spa! Step into our world of care, where time is left at the door and a new journey begins…. The Spa opens daily from 9:00am until 9.30pm.

                                                </div>
                                                <div class="div-both">
                                                    <p class=" mg-left-20">
                                                        AIRA SPA<br>
                                                        An Bang Beach, Hoi An
                                                    </p>
                                                    <a class="btn-underline mg-left-20" href="#" target="_blank">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 557.5px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#" target="_blank">
                                                        <img src="~/img/spa-1.jpg" alt="Aira Sapa">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special" style="min-height: 300px">
                                                <h3 class="title-h3"><a href="#" target="_blank">Aira Sapa</a></h3>
                                                <div class="balance">
                                                    Aira Sapa invites you to join wellness and healing sessions with our fitness and spa specialists, placing emphasis on rebalancing, relaxation, rejuvenation of body and mind
                                                </div>
                                                <div class="div-both">
                                                    <p class=" mg-left-20">
                                                        AIRA SAPA<br>
                                                        Sapa Town, Lao Cai Province, VIETNAM
                                                    </p>
                                                    <a class="btn-underline mg-left-20" href="#" target="_blank">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>