
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guests/Views/Shared/_Layout.cshtml";
}
@using Hotel_Web.Areas.Guests.Data;
@using Hotel_Web.Areas.Guests.Models;
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Rates Hotel </title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/style-room.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/guests/img/home-1-1.jpg" width="100%">
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="head-info-content pd-bt-0 mg-top-50">
                    <h1 class="mg-bot-0 mg-top-0">Room types &amp; Rates</h1>
                </div>

                <div class="container" style="margin-bottom: 100px;">
                    <div class="col-md-12">
                        <div class="content-partners">
                            <div>
                                <strong>By making direct reservations with us, you get the best guarantee&nbsp;rates and privileges</strong><br>
                                <br>
                                <div>
                                    <br>
                                    &nbsp;
                                </div>

                                <table border="1" cellpadding="8" cellspacing="0" style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2" style="text-align:center; width:199px"><strong>Room Style</strong></td>
                                            <td colspan="5" style="text-align:center; width:366px"><strong>Price (US$)</strong></td>                                   
                                        </tr>
                                        <tr>
                                            @foreach (var size in RoomSizeDAO.GetAllRoomSize())
                                            {
                                                <td style="text-align:center; width:72px"><strong>@size.RoomSizeName</strong></td>
                                            }
                                        </tr>
                                        @foreach (var style in RoomStyleDAO.GetAllRoomStyle())
                                        {
                                    <tr>
                                        <td style="text-align:center; width:72px"><strong>@style.RoomStyleName</strong></td>
                                        @foreach (var size in RoomSizeDAO.GetAllRoomSize())
                                        {
                                            <td style="text-align:center; width:72px"><strong>@(RoomTypeDAO.GetRoomTypeByStyleAndSize(style.RoomStyleID,size.RoomSizeID) == null ? "N/A" : RoomTypeDAO.GetRoomTypeByStyleAndSize(style.RoomStyleID, size.RoomSizeID).Price.ToString())</strong></td>
                                        }
                                    </tr>
                                        }
                                        </tbody>
                                  </table>

                                <div>
                                    <br>
                                    *&nbsp;<strong>Extra bed is availabel at US$15++ per night</strong>
                                </div>

                                <div>
                                    <br>
                                    <strong>NOTES:</strong>
                                </div>

                                <ul>
                                    <li>All Promotional rates exclude 15% tax &amp; service charge</li>
                                    <li><span style="color:#FF0000">Surcharge 10% for staying dates from 20th December to 05th January.</span></li>
                                    <li>Breakfast is included in the room rate &amp; served at Essence restaurant</li>
                                    <li>An extra rollaway bed can be arranged in some rooms upon request. The charge is applicable.</li>
                                    <li>Check-in time is from 14:00. Early check-in before 9:00&nbsp;requires booking room from the previous night. Early check-in after 9:00&nbsp;can be allowed, subjects to availability upon arrival.</li>
                                    <li>Check-out time is before 12:00. Later check out until 17:00 is chargeable at 50% of a room night. After 17:00, 100% room night charge is applicable, subjects to availability on check out date.</li>
                                    <li>No extra fee is applied for payment made by credit card (we accept VISA, MASTER CARD, AMEX)</li>
                                    <li>Cancellation/change up to 5 days before the date of arrival, no fee will be charged</li>
                                    <li>Cancellation/change later or in case of no-show/failure to arrive, the deposit will be charged</li>
                                </ul>
                                <strong>CHILDREN POLICY:&nbsp;</strong>

                                <ul>
                                    <li>Child&nbsp;under 5 years old sharing bed with parents is FREE OF CHARGE (no extra bed provided, maximum one child per room)</li>
                                    <li>Child&nbsp;from 5 to 12 years old at the time of traveling is charged US$15 ++ per child per room per night (extra bed provided)</li>
                                    <li>Baby cot is provided at FREE OF CHARGE base on availability (limited 1 cot per room)</li>
                                </ul>
                                <br>
                                <strong>LAST MINUTE DISCOUNTED&nbsp;RATE</strong>

                                <ul>
                                    <li>Throughout the months, we offer discounted rates for certain room allotment on&nbsp;certain days. Please click on&nbsp;certain dates to check the best rates available.</li>
                                    <li>Contact us at&nbsp;<a href="#" style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;"><strong><u>ngochienpr2014@gmail.com</u>&nbsp;</strong></a>or click the&nbsp;online support&nbsp;if you want to know more of the deals.</li>
                                    <li>Applicable for direct booking at&nbsp;<a href="#" style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;"><strong>www.HotelOfila.com</strong></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>