
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <title>Special Offers Hotel</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link href="~/css/all.css" rel="stylesheet"  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/offers.jpg" width="100%">
        </div>
    </div>
    <div class="container-fluid wrap-content-pri mr-top">
        <div style="margin-bottom: 5%;" class="container">
            <div class="row">
                <div class="col-md-12"><h1 class="title-h1 mg-bot-50 mg-top-0">SPECIAL OFFERS</h1></div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6 dpb-4 timeline-item">
                        <div class="row h-100 mx-0 flex flex-wrap">
                            <div class="col-12 col-sm-6 order-lg-2 mh-2 padding-left-desk-0 m-w-100 m-p-0">
                                <div class="over-hide h-100">
                                    <a class="bg-cover zoom d-block h-100" href="#" style="        display: none;
        background-image: url(https://robbreportedit.files.wordpress.com/2020/04/man-shopping.jpg?w=1000)"></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 order-lg-1 d-lg-flex flex-column align-items-end text-lg-right bg-white p-4">
                                <h3 class="title-h3-t text-uppercase mb-2"><a class="text-dark" href="#">Free airport transfers</a></h3>
                                <p class="mg-bot-20 mg-top-10">Get EXCLUSIVE OFFER with a COMPLIMENTARY airport pick up (or drop off)...</p>
                                <a class="btn-underline" href="#" target="_blank">Discover more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 dpb-4 ">
                        <div class=" row h-100 mx-0 flex flex-wrap">
                            <div class="col-12 col-sm-6  mh-2 padding-right-desk-0 m-w-100 m-p-0">
                                <div class="over-hide h-100   ">
                                    <a class="bg-cover zoom d-block h-100" href="#" style="        display: none;
        background-image: url(https://www.marracashcard.com/wp-content/uploads/2014/06/tn_le-salama_66.jpg)"></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  bg-white p-4">
                                <h3 class="title-h3-t text-uppercase mb-2">
                                    <a class="text-dark" href="#">Last minute discounted room rates</a>
                                </h3>
                                <p class="mg-bot-20 mg-top-10">Throughout the months, we offer discounted rates for certain room allotment on certain days....</p>
                                <a class="btn-underline" href="#" target="_blank">Discover more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6 dpb-4 timeline-item">
                        <div class="row h-100 mx-0 flex flex-wrap">
                            <div class="col-12 col-sm-6 order-lg-2 mh-2 padding-left-desk-0 m-w-100 m-p-0">
                                <div class="over-hide h-100">
                                    <a class="bg-cover zoom d-block h-100" href="#" style="        display: none;
        background-image: url(https://camranh.goldenpeakresort.com/wp-content/uploads/spa.jpg)"></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 order-lg-1 d-lg-flex flex-column align-items-end text-lg-right bg-white p-4">
                                <h3 class="title-h3-t text-uppercase mb-2"><a class="text-dark" href="#">Restaurant promotion</a></h3>
                                <p class="mg-bot-20 mg-top-10">In this month, Hotel 2K restaurant is offering 10% discount...</p>
                                <a class="btn-underline" href="#" target="_blank">Discover more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 dpb-4 ">
                        <div class=" row h-100 mx-0 flex flex-wrap">
                            <div class="col-12 col-sm-6  mh-2 padding-right-desk-0 m-w-100 m-p-0">
                                <div class="over-hide h-100   ">
                                    <a class="bg-cover zoom d-block h-100" href="#" style="        display: none;
        background-image: url(https://metro.co.uk/wp-content/uploads/2019/09/PRI_87645892.jpg?quality=90&strip=all)"></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  bg-white p-4">
                                <h3 class="title-h3-t text-uppercase mb-2">
                                    <a class="text-dark" href="#">Essencia spa promotion</a>
                                </h3>
                                <p class="mg-bot-20 mg-top-10">BUY 1 service from 60mins or over GET&nbsp;1 service 30mins for FREE...</p>
                                <a class="btn-underline" href="#" target="_blank">Discover more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

