
@{
    ViewData["Title"] = "rooms";
    Layout = "~/Areas/Guests/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Rooms Detail</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/style-room.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link href="~/css/css" rel="stylesheet">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/home-1-1.jpg" width="100%">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-h1 mg-top-50">Essence Suite Balcony</h1>
            </div>
        </div>
    </div>
    <div class="detail-room">
        <div class="container">
            <div class="row">
                <div class="detail-room-bd">
                    <div class="col-md-9">
                        <div class="owl-carousel owl-theme galleryservice owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 5385px;">
                                    <div class="owl-item active" style="width: 780px; margin-left: 80px;">
                                        <div class="item position">
                                            <div class="zoom">
                                                <img src="~/img/RoomF-01.gif">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="des">
                            <center>
                                <p>
                                    A luxuriously &amp; separate bedroom &amp; living room, with 10 meter-long balcony providing street city view.
                                </p>
                            </center>
                            <p class="item-icon-detail-room" style="margin-top: 30px;">
                                <img src="~/img/size.png" alt="Room size">
                                <span>Room size: 38 - 40 sqm</span>
                            </p>
                            <p class="item-icon-detail-room">
                                <img src="~/img/view-room.png" alt="View">
                                <span>View: City View</span>
                            </p>
                            <p class="item-icon-detail-room">
                                <img src="~/img/bedroom.png" alt="Beds">
                                <span>Beds: 01 King-size bed</span>
                            </p>
                            <p class="item-icon-detail-room">
                                <img src="~/img/max-people.png" alt="Max occupancy">
                                <span>Max occupancy: 3 pax</span>
                            </p>
                            <p class="item-icon-detail-room">
                                <img src="~/img/smoking.png" alt="Smoking">
                                <span>Smoking: No</span>
                            </p>
                            <p class="item-icon-detail-room mg-bot-30" style="margin-bottom: 20px;">
                                <img src="~/img/bathroom.png" alt="Bathroom">
                                <span>Bathroom: Walk-in rain shower</span>
                            </p>
                            <button class="btn-booking text-uppercase btn-hover show-box-search" data-toggle="modal" data-target="#dialog-mox-search">Make a reservation</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="icon-room">
                        <ul class="nav nav-pills">
                            <li><img src="~/img/iconspa.png" style="width: 20px;"> Spa</li>
                            <li><img src="~/img/iconrestauran.png" style="width: 20px;"> Restaurant</li>
                            <li><img src="~/img/iconbusiness.png" style="width: 20px;"> Business center </li>
                            <li><img src="~/img/iconwifi.png" style="width: 20px;"> Wifi</li>
                            <li><img src="~/img/eco-friend.png" style="width: 20px;">  Eco-friendly </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgr-other-new">
            <div class="container">
                <div class="row">
                    <div class="content-room">
                        <div class="col-md-12">
                            <div class="title-room">
                                <h2>Other Rooms </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-other-room owl-theme owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4680px;"></div>
                                <div class="owl-item active" style="width: 555px;float: left; margin-right: 30px;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomJ-01.gif" alt="Suite City view">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Suite City view</a></h4>
                                            <h6 class="des-room-list">A spacious, on upper floor, comfortable &amp; luxurious room, with open panoramic windows &amp; city view.&nbsp;<span style="color:rgb(115, 112, 112)">An extra bed is available for extra person.</span></h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="#" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 555px; float: left;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomK-02.gif" alt="Junior Suite Balcony">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Junior Suite Balcony</a></h4>
                                            <h6 class="des-room-list">A spacious, comfortable &amp; well-appointed, with a balcony outdoor having table &amp; sitting chairs &amp; street view. A perfect choice for a business person or leisure travellers alike.</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px; float: left; margin-right: 30px;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomD-01.gif" alt="Junior Suite window">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Junior Suite window</a></h4>
                                            <h6 class="des-room-list">A spacious, comfortable &amp; well-appointed room with big open window &amp; city view. This room is perfect for 1-2 persons. Extra bed is available on request.</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px; float: left;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomH-01.gif" alt="Deluxe Balcony">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Deluxe Balcony</a></h4>
                                            <h6 class="des-room-list">A spacious, comfortable &amp; well-appointed room with a balcony &amp; city view. This room is a perfect choice for 1-2 persons.&nbsp;</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px; float: left; margin-right: 30px;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomA-01.gif" alt="Deluxe window">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Deluxe window</a></h4>
                                            <h6 class="des-room-list">A comfortable &amp; well-appointed room with open window &amp; city view or street view. This room is a perfect choice for 1-2 persons. Extra bed is available on request.</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px; float: left;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomB-02.gif" alt="Superior Double/Twin">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Superior Double/Twin</a></h4>
                                            <h6 class="des-room-list">A cozy quiet room on the back side of the building, fully furnished and equipped. Suitable for 1 or 2 people. Extra bed for the 3rd person is available on request.</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px;float: left; margin-right: 30px;">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomI-01.gif" alt="Family Premier ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Family Premier </a></h4>
                                            <h6 class="des-room-list">An unique, comfortable &amp; well-appointed room with an opening window to Air-well. Consisting of 2 bedrooms, it is a perfect choice for a FAMILY up to 5 people</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px; float: left; ">
                                    <div class="item">
                                        <div class="">
                                            <div class="wrap-item-room" style="margin-bottom: 15px;">
                                                <div class="over-hide">
                                                    <div class=" zoom-room">
                                                        <img src="~/img/RoomL-02.gif" alt="Family inter-connecting ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lappool-all">
                                            <h4 class="title-room-list"><a href="#"> Family inter-connecting </a></h4>
                                            <h6 class="des-room-list">Two rooms that connect one to another. Very comfortable &amp; well-appointed, with internal windows &amp; 2 separate bathrooms. A perfect choice for a FAMILY of 3 – 5 persons</h6>
                                            <div class="btn-room">
                                                <a class="btn show-box-search" href="JavaScript:Void(0);" target="_blank" data-toggle="modal" data-target="#dialog-mox-search">Book a room </a>
                                                <a class="btn btn-write" href="#">View detail </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgr-other-new mg-bot-50">
        <div class="container">
            <div class="row">
                <div class="content-room">
                    <div class="col-md-12">
                        <div class="title-room">
                            <h2>
                                FEATURES
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mg-l-r-15 mg-bot-50 wrap-owl-basic">

                    <div class="owl-carousel owl-theme owl-basic owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2719px;">
                                <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/ES6_1.jpg" alt="ES6 – Getaway Specials Package( Sapa Package)">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES6 – Getaway Specials Package( Sapa Package)</a></h3>
                                                <div class="balance">
                                                    Enjoy a two-night stay in a charming Deluxe Window room &amp; Spa AND a 2 day – 1 night trip to Sapa by bus (stay at Aira Boutique Sapa Hotel &amp; Spa).<br>&nbsp;<br>Available from US$239 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/ES1_2.jpg" alt="ES5 – DELUXE PACKAGE- SAVE UP TO 15%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES5 – DELUXE PACKAGE- SAVE UP TO 15%</a></h3>
                                                <div class="balance">
                                                    Enjoy a two – night stay in a Window Deluxe Double room and 1 night onboard the Oriental Sails&nbsp;cruise with a Window Superior Double cabin.<br>&nbsp;<br>Available from US$209 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/ES4_3.jpg" alt="ES4 - Indulgence Package - SAVE UP TO 15%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES4 - Indulgence Package - SAVE UP TO 15%</a></h3>
                                                <div class="balance">
                                                    Enjoy a two – night stay in a Window Deluxe Double room and 1 night on board the phenomenal Huong Hai Sea Life cruise with a Balcony Suite Double cabin.<br>&nbsp;<br>Available from US$259 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/Cover-ES3.jpg" alt="ES3 - Luxury Retreat Package- SAVE UP TO 15%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES3 - Luxury Retreat Package- SAVE UP TO 15%</a></h3>
                                                <div class="balance">
                                                    Enjoy a two – night stay in the Junior Suite Window Double room and two-night on board the elite Orchid cruise&nbsp;with&nbsp; Suite balcony cabin.<br>&nbsp;<br>Available from US$349 Nett<br>&nbsp;
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/ES2_2.jpg" alt="ES2 - Premium Package-SAVE UP TO 15%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES2 - Premium Package-SAVE UP TO 15%</a></h3>
                                                <div class="balance">
                                                    Stay 2 nights in the charming Window Deluxe Double room&nbsp;AND 1 night on board the top-notch Ha Long Paradise Luxury cruise with a Deluxe window cabin.&nbsp;<br>&nbsp;<br>Available from US$289 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/ES1_2.jpg" alt="ES1 - Honeymoon/Anniversary Package -SAVE UP TO 25%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">ES1 - Honeymoon/Anniversary Package -SAVE UP TO 25%</a></h3>
                                                <div class="balance">
                                                    Delighting your honeymoon/anniversary vacation at Essence Hanoi hotel &amp; spa with our special package.&nbsp;<br><br>Available from US$279 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 363.333px; margin-right: 25px;">
                                    <div class="item mg-bot-20 item-owl-basic">
                                        <div class="wrap-special">
                                            <div class="over-hide">
                                                <div class="images-well zoom">
                                                    <a href="#">
                                                        <img src="~/img/Conten-spa-1.jpg" alt="SPA PACKAGE -SAVE UP TO 20%">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-special">
                                                <h3 class="title-h3"><a href="#">SPA PACKAGE -SAVE UP TO 20%</a></h3>
                                                <div class="balance">
                                                    Stay 2 consecutive nights in a Window Deluxe Double room and indulgencing yourself and your spouse with 40 minutes massage at our Essencia Spa.<br><br>Available from US$199 Nett
                                                </div>
                                                <div class="div-both">
                                                    <br>
                                                    <a class="btn-underline mg-left-20" href="#">Discover more</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>