
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tour At Hotel </title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link href="~/css/css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/tour.jpg" width="100%">
        </div>
    </div>
    <div class="back container-fluid wrap-content-pri" style="        background-color: #e8e8e8;">
        <div style="margin-bottom: 5%;" class="container">
            <div class="row">
                <div class="destinations ">
                    <div class="row">
                        <div class="head-info-content">
                            <p class="mg-top-50">
                                Go beyond the usual itinerary through extended, customized trips that take you from one unique destination to another. From the old quarter of Hanoi to the breathtaking mountains surrounding Sapa, Lao Cai or to Halong Bay – the world heritage site, ESSENCE seeks ways to make Vietnam’s most beautiful destinations accessible, through exceptional, individually curated expeditions and adventures.
                            </p>
                            <h1>Hanoi – Ninh Binh and around</h1>
                            <p>If you visit Vietnam, there is a good chance your trip will revolve around the capital city of Hanoi. Combining French cultural influences with Vietnamese cuisine and heritage, Hanoi is a melting pot full of incredible attractions. The Ho Chi Minh Mausoleum and Ho Chi Minh Museum are big landmarks you won’t want to miss, but Hanoi also offers local flavor courtesy of stunning temples, puppet theaters and countless outdoor markets. To truly experience the best of northern Vietnam, head outside of the city with one or more of these wonderful day trip from Hanoi: <strong>Hoa Lu, Bat Trang, Perfume Pagoda, Tam Coc</strong></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://q-cf.bstatic.com/images/hotel/max1024x768/150/150334366.jpg);">
                                </div>
                            </div>
                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Street Food Tour (recommended)</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Vietnamese Street Food is one of dishes you have to eat when you go to Vietnam. A trip to this country is not complete <span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $25</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://cruisemekongriver.com/wp-content/uploads/2016/04/6-4-16Vinpearl-Nha-Trang-Resort.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Hanoi City Tour - full day</h4>
                                    </div>
                                    <div class="info-item-tour">
                                        <p>
                                            <br>
                                            Hanoi: With its tree-lined boulevards and lakes, its blend of French, Chinese and Vietnamese architecture, Hano<span>....</span>
                                        </p>
                                    </div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $47</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://hellovietnam24h.com/wp-content/uploads/2018/04/bien-my-khe-du-lich-da-nang.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Hoa Lu Tam Coc Tour - full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Hoa Lu: the remains are the temples dedicated to King Dinh and King Le, the two heroes who lived in 10th century and ch<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $49</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://dulichdaiduong.vn/upload/bai-sao-phu-quoc.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Hoa Lu - Trang An Grottoes Tour -  full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>HOA LU: the remains are the temples dedicated to King Dinh and King Le, the two heroes who lived in 10th century and ch<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $49</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://www.halongwave.vn/images/Sun-World-Ha-Long3.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Perfume Pagoda Tour full Day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Chua Huong (Perfume pagoda) is located in Huong son (Perfume mountain) 70 km southwest of Hanoi. Chua Huong is not one <span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $49</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://divui.com/blog/wp-content/uploads/2018/02/lich-trinh-du-lich-da-nang-hoi-an-3ngay-2-dem-5-1024x678.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Mai Chau Hill Tribe Village - Full Day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Mai Chau is located in Hoa Binh province, approximately 135km (about 83 miles) from Hanoi and 60km (37 miles) from Hoa <span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $85</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://1.bp.blogspot.com/-5fDdFV-aYIw/U_RQaMYn2dI/AAAAAAAAEC0/7YcZhUs-2ik/s1600/5662fea96125b083ef1c257ce4a6a9ad-afc09.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Bat Trang Ceramic Village - Dong Ky Carpentry Village Tour - full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>On the left bank of Red river and about 10 km from Hanoi in East (in Gia Lam District, Hanoi), there situated a pottery<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $39</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/180321143206-beautiful-vietnam---six-senses---con-dao-full-169.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Tay Phuong Pagoda - Thay Pagoda - Van Phuc Silk Village - full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Tay Phuong pagoda was built in the 8th century and has been restored several times since. In 1632, the pagoda was rebui<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $42</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://nhatrangreal.com.vn/wp-content/uploads/2017/09/thanh-pho-da-nang.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Bat Trang Ceramic Village - Van Phuc Silk Village Tour -  full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Just 15km to the west of Ha Noi is a place renowned over centuries for its silk-making and silk products - Van Phuc vil<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $39</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://www.chudu24.com/wp-content/uploads/2016/12/vuon-quoc-gia-dep-nhat-viet-nam02.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Duong Lam - Viet Ancient Village Tour - full day</h4>
                                    </div>
                                    <div class="info-item-tour"><p>A journey to Duong Lam village is a trip to trace back the origin of Vietnam's culture and Vietnam's traditions<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $45</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 w-center">
                        <div class="destinations-left-all">
                            <div class="position">
                                <div class="destinations-left zoom" style="        background-image: url(https://gotrangtri.vn/wp-content/uploads/2018/07/du-lich-nha-trang-12-2.jpg);">
                                </div>
                            </div>

                            <div class="destinations-left-text-plungepool">
                                <div class="w-des-cd">
                                    <div class="destinations-left-text">
                                        <h4 style="width: 100%; text-align: center;">Fabric market &amp; Tailor made design (#HE 01)</h4>
                                    </div>
                                    <div class="info-item-tour"><p>Enjoy a special half day tour of Hanoi with our expert designer of fashion.There’s no need to go to great lengths<span>....</span></p></div>

                                    <div class="div-both">
                                        <span style="margin-left: 15px; margin-bottom: 20px; display: block;">Price from : <strong style="color: #8f724c;font-size: 20px;"> $25</strong></span>
                                        <div class="" style="margin:0px 15px">
                                            <a href="#" class="btn btn-check btn-hover" style="margin-top: 5px;">
                                                Show more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

