<!DOCTYPE html>

<html>
<head class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://image.flaticon.com/icons/svg/608/608912.svg"type="image/x-icon">
    <link href="~/guests/css/jquery-ui.css" rel="stylesheet">
    <link href="~/guests/css/bootstrap.css" rel="stylesheet">
    <link href="~/guests/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/guests/css/flexslider.css" rel="stylesheet">
    <link href="~/guests/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/guests/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/guests/css/slick.css" rel="stylesheet">
    <link href="~/guests/css/slick-theme.css" rel="stylesheet">
    <link href="~/guests/css/style-m.css" rel="stylesheet">
    <link href="~/guests/css/styles.css" rel="stylesheet">
    <link href="~/guests/css/responsive.css" rel="stylesheet">
    <link href="~/guests/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/guests/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/guests/css/styleHome.css" rel="stylesheet">
    <link href="~/guests/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/guests/css/all.css" rel="stylesheet">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="container-fluid">
        <div class="row">
            <div class="wrap-content">
                <nav class="navbar navbar-fixed-top navbar-fixed-top1 bg-menu-main-detail">
                    <div class="logo-aman"></div>
                    <div id="menu-destinations1" class="menu-destinations">
                        <div class="logo-es-detail"></div>
                        <!-- MENU -->
                        <ul>
                            <li class="parent-menu-d">
                                <a href="/Guests/Home/Index" style="font-family: Raleway, sans-serif; font-weight: normal;">Home</a>
                            </li>
                            <li class=" parent-menu-d">
                                <a href="/Guests/Rooms/Index" style="font-family: Raleway, sans-serif; font-weight: normal;">Rooms &amp; Rates</a>
                                <div class="wrap-menu-second">
                                    <div class="wrap-menu-second-content">
                                        <ul class="menu-second">
                                            <li><a href="/Guests/Rooms/Index" style="font-family: Raleway, sans-serif; font-weight: normal;">Rooms </a></li>
                                            <li><a href="/Guests/Rates/Index" style="font-family: Raleway, sans-serif; font-weight: normal;">Rates </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class=" parent-menu-d">
                                <a href="/Guests/Services/Dining" style="font-family: Raleway, sans-serif; font-weight: normal;">Services</a>
                                <div class="wrap-menu-second">
                                    <div class="wrap-menu-second-content">
                                        <ul class="menu-second">
                                            <li><a href="/Guests/Services/Dining" style="font-family: Raleway, sans-serif; font-weight: normal;">Dining </a></li>
                                            <li><a href="/Guests/Services/Spa" style="font-family: Raleway, sans-serif; font-weight: normal;">Spa </a></li>
                                            <li><a href="#" style="font-family: Raleway, sans-serif; font-weight: normal;">Tailoring </a></li>
                                            <li><a href="#" style="font-family: Raleway, sans-serif; font-weight: normal;">Visa &amp; Transfer Services </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <a href="/Guests/Tours/Index" style="font-family: Raleway, sans-serif; font-weight: normal; ">Tours</a>
                            </li>
                            <li class="">
                                <a href="/Guests/SpecialOffers/Index" style="font-family: Raleway, sans-serif; font-weight: normal; ">Special Offers</a>
                            </li>
                            <li class="">
                                <a href="/Guests/Packages/Index" style="font-family: Raleway, sans-serif; font-weight: normal; ">Packages</a>
                            </li>
                            <li class="">
                                <a href="/Guests/Gallery/Index" style="font-family: Raleway, sans-serif; font-weight: normal; ">Gallery</a>
                            </li>
                            <li class="">
                                <a href="/Guests/ContactUs/Index" style="font-family: Raleway, sans-serif;font-weight: normal; ">Contact us</a>
                            </li>
                        </ul>
                        <!-- MENU -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @RenderBody();
    <!--foodter-->
    <div class="container-fluid py-5 site-footer">
        <div class="row wrap-content-footer">
            <div class="container" style="padding: 40px 0px 30px;">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/Guests/Home/Index" rel="home" class="logo-footer text-center" style="display: block">
                        <img alt="" src="~/guests/img/Logo1.png" width="300" height="auto">
                    </a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 info-hotel">
                    <div class="row">
                        <div class="col-sm-6">
                            <center>
                                <h4>World Luxury Hotel</h4>
                                <p> World Luxury Hotel Award 2017 – 2019 </p>
                                <p> World Luxury Hotel Award 2017 – 2019 </p>
                            </center>
                        </div>

                        <div class="col-sm-6 info-company">
                            <p>
                                <span class="label">Tel:</span>
                                <span class="label-mobile">T:</span>
                                <a href="#">0123456789 </a> <br>

                                <span class="label">Sales Dept. (WhatsApp):</span>
                                <span class="label-mobile">Sales Dept. (WhatsApp):</span>
                                <a href="#">0123456789</a> <br>

                                <span class="label">Hotline (WhatsApp):</span>
                                <span class="label-mobile">Hotline (WhatsApp):</span>
                                <a href="#">0123456789</a> <br>



                                <span class="label">Email:</span>
                                <span class="label-mobile">E:</span>
                                <a href="#">info@uit_hotel.com</a> <br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-info-footer">
                <div class="container">
                    <div class="row">
                        <h2 class="heading text-center">
                            STAY CLOSE
                        </h2>
                        <nav class="social-icons">
                            <ul class="social-icons__list">
                                <li class="social-icons__item">
                                    <a href="https://www.facebook.com/" class="social-icons__link" target="_blank">
                                        <div class="social-icons__item-icon-container">
                                            <span class="social-icons__item-icon icons-social-pinterest">
                                                <img src="~/guests/img/iconfb.png" alt="" style="width: 40px; height: auto; margin-left: -10px; margin-top: -5px;">
                                            </span>
                                            <span class="social-icons__item-circle"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="social-icons__item">
                                    <a href="#" class="social-icons__link" target="_blank">
                                        <div class="social-icons__item-icon-container">
                                            <span class="social-icons__item-icon icons-social-instagram">
                                                <img src="~/guests/img/icontw.png" alt="" style="width: 30px; height: auto; margin-left: -5px; margin-top: -5px;">
                                            </span>
                                            <span class="social-icons__item-circle"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="social-icons__item">
                                    <a href="#" class="social-icons__link" target="_blank">
                                        <div class="social-icons__item-icon-container">
                                            <span class="social-icons__item-icon icons-social-pinterest">
                                                <img src="~/guests/img/iconist.png" alt="" style="width: 40px; height: auto; margin-left: -8px; margin-top: -5px;">
                                            </span>
                                            <span class="social-icons__item-circle"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="social-icons__item">
                                    <a href="#" class="social-icons__link" target="_blank">
                                        <div class="social-icons__item-icon-container">
                                            <span class="social-icons__item-icon icons-social-youtobe">
                                                <img src="~/guests/img/iconyt.png" alt="" style="width: 40px; height: auto; margin-left: -8px; margin-top: -5px;">
                                            </span>
                                            <span class="social-icons__item-circle"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="social-icons__item">
                                    <a href="#" class="social-icons__link" target="_blank">
                                        <div class="social-icons__item-icon-container">
                                            <span class="social-icons__item-icon icons-social-google">
                                                <img src="~/guests/img/icongg.png" alt="" style="width: 40px; height: auto; margin-left: -7px; margin-top: -10px;">
                                            </span>
                                            <span class="social-icons__item-circle"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="menu-footer">
                            <ul>
                                <li><a href="#">Location &amp; Contact</a></li>
                                <li><a href="#">Faq's</a></li>
                                <li><a href="#">Travel Advices</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            UIT Group (AHG). All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <script src="~/guests/js/jsplus/jquery.min.js"></script>
        <script src="~/guests/js/jsplus/main.js"></script> <!-- Resource jQuery -->
    </div>
</body>
</html>
