
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guests/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center><h2>Booking Susscessfull</h2></center>
<br />
<br />
<br />
<br />
<br />
