
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Guests/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gallery Hotel </title>
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-m.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/Css-page-detail.css" rel="stylesheet">
    <link href="~/css/Slider-mobile.css" rel="stylesheet">
    <link href="~/css/styleHome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body style="font-family: Raleway, sans-serif;">
    <div class="flex-viewport" style="width: 100% ;">
        <div>
            <img class="mySlides1" src="~/img/gallery1.jpg" width="100%">
        </div>
    </div>
    <div class="container-fluid wrap-content-pri">
        <div style="margin-bottom: 5%;" class="container">
            <div class="row">
                <div class="head-info-content">
                    <h1>Gallery</h1>
                </div><br>
                <div class="container">
                    <div class="row">
                        <div id="tabbed-nav">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link  font-weight-bold" id="home-tab" data-toggle="tab" href="https://essencehanoihotel.com/gallery#tab-tour-0" role="tab">All</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active" id="tab-tour-0" role="tabpanel">
                                    <ul class=" galleryHotel clearfix" id="gallery">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding">
                                            <li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/2277809_TMK_5002.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/2277809_TMK_5002.jpg #64">
                                                        <img src="~/img/2277809_TMK_5002.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/sen-tren-pho-1-1045.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/sen-tren-pho-1-1045.jpg #61">
                                                        <img src="~/img/sen-tren-pho-1-1045.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/large.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/large.jpg #58">
                                                        <img src="~/img/large.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Lobby-B-01(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Lobby-B-01(1).jpg #71">
                                                        <img src="~/img/Lobby-B-01(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Restaurant02(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Restaurant02(1).jpg #74">
                                                        <img src="~/img/Restaurant02(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Spa02.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Spa02.jpg #77">
                                                        <img src="~/img/Spa02.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Staircase01(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Staircase01(1).jpg #80">
                                                        <img src="~/img/Staircase01(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/file_321618.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/file_321618.jpg #53">
                                                        <img src="~/img/file_321618.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/vietnam6.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/vietnam6.jpg #56">
                                                        <img src="~/img/vietnam6.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding">
                                            <li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/du-lich-ho-ba-be-ivivu_com-4.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/du-lich-ho-ba-be-ivivu_com-4.jpg #63">
                                                        <img src="~/img/du-lich-ho-ba-be-ivivu_com-4.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/productcus43_s466.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/productcus43_s466.jpg #60">
                                                        <img src="~/img/productcus43_s466.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Exterior01(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Exterior01(1).jpg #69">
                                                        <img src="~/img/Exterior01(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Lobby-B-02.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Lobby-B-02.jpg #72">
                                                        <img src="~/img/Lobby-B-02.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Restaurant03(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Restaurant03(1).jpg #75">
                                                        <img src="~/img/Restaurant03(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Spa03(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Spa03(1).jpg #78">
                                                        <img src="~/img/Spa03(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Staircase02.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Staircase02.jpg #81">
                                                        <img src="~/img/Staircase02.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/LTA_2843And4More_tonemapped.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/LTA_2843And4More_tonemapped.jpg #54">
                                                        <img src="~/img/LTA_2843And4More_tonemapped.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/fd0002.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/fd0002.jpg #57">
                                                        <img src="~/img/fd0002.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding">
                                            <li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/tumblr_mq632hv90r1srcxtho6_1280.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/tumblr_mq632hv90r1srcxtho6_1280.jpg #62">
                                                        <img src="~/img/tumblr_mq632hv90r1srcxtho6_1280.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/One_Pilla_635278166807861285.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/One_Pilla_635278166807861285.jpg #59">
                                                        <img src="~/img/One_Pilla_635278166807861285.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Exterior02.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Exterior02.jpg #70">
                                                        <img src="~/img/Exterior02.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Restaurant01(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Restaurant01(1).jpg #73">
                                                        <img src="~/img/Restaurant01(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Spa01(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Spa01(1).jpg #76">
                                                        <img src="~/img/Spa01(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Spa04.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Spa04.jpg #79">
                                                        <img src="~/img/Spa04.jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Staircase03(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Staircase03(1).jpg #82">
                                                        <img src="~/img/Staircase03(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/Staircase03(1).jpg" data-fancybox="gallery" data-caption="/files/images/gallery/Staircase03(1).jpg #82">
                                                        <img src="~/img/Restaurant03(1).jpg" alt="">
                                                    </a>
                                                </div>

                                            </li><li class=" item-gallery item position">
                                                <div class="zoom">
                                                    <a href="~/img/streetfood1.jpg" data-fancybox="gallery" data-caption="/files/images/gallery/streetfood1.jpg #55">
                                                        <img src="~/img/streetfood1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

